#zen-tags-remove a { cursor: pointer; background: url(images/icon_status_red_light.gif) no-repeat; width: 10px; height: 10px; padding-right: 10px; margin-left: 5px; text-decoration: none; }
#zen-tags-remove a:hover { background: url(images/icon_status_red.gif) no-repeat; }
span.tag_list:hover { border: 1px red dashed; }
.buttonLink, .buttonLink:hover, input.buttonLink { 
    background-color:white;
    border:1px solid #003366;
    color:#404040;
    border-radius:6px;
    display:inline-block;
    font-family:Verdana;
    font-size:11px;
    font-weight:bold;
    margin: 0;
    padding:3px 8px;
    text-decoration:none; }
a.buttonLink:hover { background-color: #dcdcdc; }
input.submit_button:hover { background-color:#599659; border: 1px solid #003d00; color: white; cursor: pointer; }
.no_display, .hideIt { display: none; }
.display_it, .showIt { display: block; }
.version { font-size: smaller; }
.instructions { padding: 10px 5px; }
.wider input { width: 30em; }
.numericInput input { width: 2em; }
.center { text-align: center; }
.smaller { font-size: smaller; }